<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:lang="http://www.springframework.org/schema/lang"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/lang
        http://www.springframework.org/schema/lang/spring-lang.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">
      	<bean id="paramTemplate" abstract="true">
      		<property name="message1" value="fuck the world" />
      		<property name="message2" value="fuck the life" />
      	</bean>
      	<bean id="message" class="com.clover.spring.vo.Message" scope="prototype" destroy-method="destroy" parent="paramTemplate" />
      	
      	<bean id="tips" class="com.clover.spring.vo.Tips" parent="paramTemplate">
      		<property name="tip1" value="fuck the world" />
      		<property name="tip2" value="fuck the life" />
      	</bean>
      	
      	<bean class="com.clover.spring.vo.InitMessage"/>
      	
      	<bean id="user" class="com.clover.spring.bean.User">
      		<constructor-arg ref="stringutils"/>
      	</bean>
      	<bean id="vip" class="com.clover.spring.bean.Vip">
      		<property name="stringUitls">
      			<bean id="stringutils" class="com.clover.spring.bean.StringUitls" />
      		</property>
      	</bean>
      	
      	<bean id="stringutils" class="com.clover.spring.bean.StringUitls" />
</beans>